<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("./partials/head") %>

    <body class="productDetail">
        <!-- Heder -->
        <%- include("./partials/header") %>
 
    <section class="banner">
        
    </section>
    <main class="productDetail">
       
            <section class="last-visit">
               
              <div class="container">
                
                <% productDetail.forEach(product => {
                 
                    %> 
                     <div class="products">
                        <div class="img-container">
                        <img id="imageBox" src="<%-product.imagecolor1%>" alt="S22" class ="product_img1"/>
                        </div>
                        <div class = "product-small-img">
                            <img src="<%-product.imagecolor1%>" onclick="myFuction(this)">
                            <img src="<%-product.imagecolor2%>" onclick="myFuction(this)">
                            <img src="<%-product.imagecolor3%>" onclick="myFuction(this)">
                      </div>
                      <script type="text/javascript">
                          function myFuction(smallImg){
                              var fullImg=document.getElementById("imageBox");
                              fullImg.src=smallImg.src; 
                          }
                      </script>
                    
                        <div class="especificacion">
                        <p class="modelo"> Especificacion Tecnica</p>
                        <p class="modelo"> <%-product.modelo%> </p>
                        <p class="Procesador"><i class="fas fa-microchip"></i></p>
                         <p class="tipo"> <%-product.procesador%></p>
                         <p class="Procesador"><i class="fas fa-mobile"></i></p>
                         <p class="amoled"><%-product.pantallaModelo%></p>
                         <p class="resolucion"><%-product.pantallaResolucion%></p>
                         <p class="Procesador"><i class="fas fa-camera-retro"></i></p>
                         <p class="camara"> Camera Resolution (Multiple):
                            <%-product.camaraResolucion%></p>
                        <p class="camara"> Video Recording Resolution
                            <%-product.videoResolucion%></p>
                        <p class="Procesador"><i class="fas fa-sd-card"></i></p>
                        <p class="memoria"> Memoria: <%-product.memoria%></p>
                        <p class="almacenamiento">Almacenamiento: <%-product.almacenamiento%></p>
                        <p class="Procesador"><i class="fas fa-battery-full"></i></p>
                        <p class="memoria"><%-product.bateria%></p>
                        <div class="precio">
                            <p class="Procesador">PRECIO</p>
                        <p class="precio2">$<%-product.price %></p>
                        <input class="com" type="submit" value="Comprar">
                        <form action="http://localhost:3004/">
                        <button class ="com" type="submit">Volver a tienda</button>
                        </form>
                         </div>
                        <div class="edicionProducto">
                        <form action="/products/editarProducto/<%-product.id%>">
                        <button class ="com2" type="submit">Editar producto</button>
                        </form>
                        <form action="/products/<%=product.id %>?_method=DELETE" method ="POST" style="display: inline-flex">
                        <button type="submit" class ="com2" >Eliminar producto</button>
                        </form>
                         </div>
                        </div>
                    </div>

                    <% });	%>
                         </section>   
            <!-- <footer >
                     
                         <div class="container-footer">
                             <div class="copyright">
                             Copyright © 1999-2022
                             </div>
                             <div class="information">
                               <a>Seguinos:</a><a href="http://twitter.com" TARGET="_blank"><i class="fab fa-twitter"></i></a> | <a href="http://facebook.com" TARGET="_blank"><i class="fab fa-facebook"></i></a> | <a href="http://instagram.com" TARGET="_blank"><i class="fab fa-instagram"></i></a>
                             </div>
                         </div>        
                 </div> 
             </footer> -->
</body>
</html>
