<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include("./partials/head") %>

<body>
    <!--Header-->
    <%- include("./partials/header") %>

    <div class="box-products">

        <div class="filter-box">
            <h1 align="center">Filtro</h1>
            <br>
            <h2 align="center">Marca</h2>
            <label class="radio" for="radio__toggle4" align="center">
                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                <span class="radio__span">
                  Samsung
                </span>
            </label>
            
        </div>

        <div class="products-section">
            <% products.forEach(product => {
                 
                %>
                <figure class="snip1268">
                    <div class="image">
                    <img src="images/<%= product.modelo %>/<%= product.imagecolor1 %>" alt="sq-sample4"/>
                    <div class="icons">
                        <a href="#"><i class="ion-star"></i></a>
                        <a href="#"> <i class="ion-share"></i></a>
                        <a href="#"> <i class="ion-search"></i></a>
                    </div>
                    <a href="#" class="add-to-cart">Agregar al carrito</a>
                    </div>
                    <figcaption>
                    <h2><%= product.modelo %></h2>
                    <p><%= product.description %></p>
                    <div class="price"><%= product.price %>$ </div>
                    </figcaption>
                </figure>
            <% });	%>
            
        </div>
    </div>   


</body>



</html>