<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("./partials/head") %>

<body>
<!-- Header -->


<%- include("./partials/header") %>

      

    <main>

       
            <form action="/users/registro" method="post">

                <section class="header-formulario">
          <div class="titulo">Registro de Usuario</div>

          <div class="iconoRegistro"> <i class="far fa-address-card"></i> </div>
             </section>

          <section class="formulario">
        

            <div> <label for="nombre"></label> 
                 
                <input type="text" name="nombre" placeholder="Ingrese su Nombre" class="burbuja" value="<%= locals.oldData ? oldData.nombre :null%>" >
                <% if (locals.errors && locals.errors.nombre){  %> 
              <h3 class="error"> <%=errors.nombre.msg %>  <% }%> </h3>
                </div> 
                <div> <label for="apellido"></label> 
            
                    <input type="text" name="apellido" placeholder="Ingrese su Apellido" class="burbuja" value="<%= locals.oldData ? oldData.apellido :null%>" >
                    <% if (locals.errors && locals.errors.apellido){  %> 
                        <h3 class="error"> <%=errors.apellido.msg %> </h3>
                        <% } %> 
                    </div>
                <div> <label for="email"></label> 
            
                    <input type="text" name="email" placeholder="Ingrese su Correo Electrónico" class="burbuja" value="<%= locals.oldData ? oldData.email :null %>">
                    <% if (locals.errors && locals.errors.email){  %> 
                    <h3 class="error"> <%=errors.email.msg %> </h3>
                    <% } %> 
                    </div>
                
        
                 
                    <!-- <div class="fechaNacimiento" >   
                        <h3>Fecha de Nacimiento</h3>
                     <input type="date" name="fechaNac" id="Fecha de Nacimiento" class="burbuja" required>
                        </div>
         -->
                        
             
                   
        
                        <div><label for="Contraseña"></label> 
            
                            <input type="password" name="password" placeholder="Ingrese su contraseña" class="burbuja" > 
                            <% if (locals.errors && locals.errors.password){  %> 
                                <h3 class="error"> <%- errors.password.msg %> </h3>
                                <% } %> 
                            </div>

                        <div>

                        </section>
                        <section class="seccion-boton">
                            <div  >
                                <button type="submit" class="boton">Registrarse</button>
                        
                            </div>  
                            <div >
                                <a href="./";> <i class="fas fa-reply"> </i>Volver al Inicio</a> 
                             </div>
                            </section>
                            
                            </form>
                          
                            </section>
                        
                         
        </div>
        </main>

    </body>
   
    </html>
