<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("./partials/head") %>

  
<!-- Heder -->

    <%- include("./partials/header") %>


  <body>
      
    <main class="altaProducto">

       
        
            <form action="/products" method="post" enctype="multipart/form-data" id="form">

                <section class="header-formulario">
          <div class="titulo">Alta de Productos</div>

          <div class="iconoRegistro"><i class="fa-solid fa-mobile"></i></i> </div>
             </section>

          <section class="formulario">
        
               
            <div>  <label for="marca"></label> 
                <select name="marca_id" 
                class="burbuja" placeholder="Marca"      
                id="marca_id"><option selected value = "<%= locals.oldData ? oldData.marca_id : null %>"><%= locals.oldData ? oldData.marca_id  : null  %> Marca </option>
                <% marcas.forEach(marca => { %>
                    <option value="<%= marca.id %>"><%= marca.id %> - <%= marca.nombre_marca %></option>
                    <% }); %>
                    </select>
                    <h3 class="error" id="marca_idError"></h3>
       
<% if (locals.errors && locals.errors.marca_id){  %> 
    <h3 class="error"> <%=errors.marca_id.msg %>  <% }%> </h3>
</div>

 <div> <label for="Modelo"></label> 
            
    <input type="text" name="modelo" placeholder="Modelo" class="burbuja" id="modelo" value="<%= locals.oldData ? oldData.modelo :null%>"  >
    <% if (locals.errors && locals.errors.modelo){  %> 
        <h3 class="error"> <%=errors.modelo.msg %>  <% }%> </h3>
        <h3 class="error" id="modeloError"></h3>
    </div>

    <div> <label for="Procesador"></label> 
        
        <input type="text" name="procesador" placeholder="Procesador" id = "procesador"class="burbuja" value="<%= locals.oldData ? oldData.procesador :null%>"  >
        <% if (locals.errors && locals.errors.procesador){  %> 
            <h3 class="error"> <%=errors.procesador.msg %>  <% }%> </h3>
            <h3 class="error" id="procesadorError"></h3>
        </div>
        </div>

        <div> <label for="camara"></label> 
        
            <input type="text" name="camaraResolucion" id = "camaraResolucion" placeholder="Resolucion de C치mara" class="burbuja"  value="<%= locals.oldData ? oldData.camaraResolucion :null%>" >
            <% if (locals.errors && locals.errors.camaraResolucion){  %> 
                <h3 class="error"> <%=errors.camaraResolucion.msg %>  <% }%> </h3>
                <h3 class="error" id="camaraResolucionError"></h3>
                
            </div>
            <div> <label for="video"></label> 
        
                <input type="text" name="videoResolucion" id = "videoResolucion"  placeholder="Resolucion de Video" class="burbuja" value="<%= locals.oldData ? oldData.videoResolucion :null%>"  >
                <% if (locals.errors && locals.errors.videoResolucion){  %> 
                    <h3 class="error"> <%=errors.videoResolucion.msg %>  <% }%> </h3>
                    <h3 class="error" id="videoResolucionError"></h3>
                </div>
                <div> <label for="pantalla"></label> 
        
                    <input type="text" id = "pantallaModelo"  name="pantallaModelo" placeholder="Pantalla" class="burbuja" value="<%= locals.oldData ? oldData.pantallaModelo :null%>" >
                    <% if (locals.errors && locals.errors.pantallaModelo){  %> 
                        <h3 class="error"> <%=errors.pantallaModelo.msg %>  <% }%> </h3>
                        <h3 class="error" id="pantallaModeloError"></h3>
                    </div>
                    <div> <label for="pantallaResolucion"></label> 
                        
                        <input type="text" id="pantallaResolucion"  name="pantallaResolucion" placeholder="Resoluci칩n de Pantalla" class="burbuja" value="<%= locals.oldData ? oldData.pantallaResolucion :null%>" >
                        <% if (locals.errors && locals.errors.pantallaResolucion){  %> 
                            <h3 class="error"> <%=errors.pantallaResolucion.msg %>  <% }%> </h3>
                            <h3 class="error" id="pantallaResolucionError"></h3>
                        </div>
<div class="contenedor1">
<section class="contenedor2">   
           <div    class="contenedor-color">       
                            <select name="memoria" 
                            class="burbuja" 
                            id="memoria">Memoria
                            <option selected value = "<%= locals.oldData ? oldData.memoria : null %>"><%= locals.oldData ? oldData.memoria : null %> - Memoria</option>
                            <option value="8GB">8GB</option>
                               <option value="16GB">16GB</option>
                               <option value="32GB">32GB</option>
                               <option value="64GB">64GB</option>
            </select>
            <% if (locals.errors && locals.errors.memoria){  %> 
                <h3 class="error"> <%=errors.memoria.msg %>  <% }%> </h3> 
                <h3 class="error" id="memoriaError"></h3>
        </div> 
    <div class="contenedor-bateria"> 
            <select name="almacenamiento" 
            class="burbuja" 
            id="almacenamiento">
            <option selected value = "<%= locals.oldData ? oldData.almacenamiento : null %>"><%= locals.oldData ? oldData.almacenamiento : null %> - Almacenamiento</option>
            <option value="64GB">64GB</option>
               <option value="128GB">128GB</option>
               <option value="256GB">256GB</option>
               <option value="512GB">512GB</option>
</select>   
<% if (locals.errors && locals.errors.almacenamiento){  %> 
<h3 class="error"> <%=errors.almacenamiento.msg %>  <% }%> </h3> 
<h3 class="error" id="almacenamientoError"></h3>
</div> 


</section>
</div>


</div>


<div class="contenedor1">
<section class="contenedor2">   
    <div  class="contenedor-color">       
        
    <input type="number" name="price" id="price" placeholder="Precio" class="burbuja" value="<%= locals.oldData ? oldData.price :null%>" >
<section class="contenedor2">
<% if (locals.errors && locals.errors.price){  %> 
    <h3 class="error"> <%=errors.price.msg %>  <% }%> </h3> 
    <h3 class="error" id="priceError"></h3>
          </div>

    <div class="contenedor-bateria"> 
        <label for="bateria"></label>
            <select name="bateria" id="bateria" 
            class="burbuja"
           >
                <option selected value ="<%= locals.oldData ? oldData.bateria : null %>"><%= locals.oldData ? oldData.bateria : null %> - Bateria</option>
                <option value="3.000 mAh">3.000 mAh</option>
                <option value="3.000 mAh">3.500 mAh</option>
                <option value="3.000 mAh">4.000 mAh</option>
                <option value="3.000 mAh">4.500 mAh</option>
                <option value="3.000 mAh">5.000 mAh</option>
                <option value="3.000 mAh">5.500 mAh</option>
                <option value="3.000 mAh">6.000 mAh</option>
</select>  
<% if (locals.errors && locals.errors.bateria){  %> 
<h3 class="error"> <%=errors.bateria.msg %>  <% }%> </h3> 
<h3 class="error" id="bateriaError"></h3>
</div> 
</section>

<div> <label for="color"></label> 
        
<input type="text" id="color" name="color" placeholder="Color" class="burbuja" value="<%= locals.oldData ? oldData.modelo :null%>" >
<% if (locals.errors && locals.errors.color){  %> 
    <h3 class="error"> <%=errors.color.msg %>  <% }%> </h3>
    <h3 class="error" id="colorError"></h3>
    
</div>

</div>

 <h2> Im치genes del Producto</h2>
<div class="contenedor5">
 <div class="contenedor4"> 
  
    <div class="contenedor3">
        
    <p class="botonImagen">Img-1</p>
     <input type="file" name="imagecolor1" id="ImagenesProducto1"  class="inputFile" value="<%= locals.oldData ? oldData.imagecolor1 :null%>" >

    </div>


    <div class="contenedor3">
        
        <p class="botonImagen">Img-2</p>
         <input type="file" name="imagecolor2" id="ImagenesProducto2"  class="inputFile">   
        </div>
        <div class="contenedor3">
        
            <p class="botonImagen">Img-3</p>
             <input type="file" name="imagecolor3" id="ImagenesProducto3"  class="inputFile" >   
            </div>
     
            
</div>

</div>

<% if (locals.errors && locals.errors.imagecolor1){  %> 
    <h3 class="error"> <%=errors.imagecolor1.msg %>  <% }%> </h3>   
    <h3 class="error" id="ImagenesProducto1Error"></h3>
    <% if (locals.errors && locals.errors.imagecolor2){  %> 
        <h3 class="error"> <%=errors.imagecolor2.msg %>  <% }%> </h3>
        <h3 class="error" id="ImagenesProducto2Error"></h3>   
        <% if (locals.errors && locals.errors.imagecolor3){  %> 
            <h3 class="error"> <%=errors.imagecolor3.msg %>  <% }%> </h3>
            <h3 class="error" id="ImagenesProducto3Error"></h3>   
<!-- <div class="ContenedorDescripcion"> <label for="Descripcion"></label> 
        
    <textarea name="descripcion" id="" cols="30" rows="20" class="burbuja2" required placeholder="Ingrese descripci칩n del producto"></textarea>
    </div> -->






                    </section>
                    <section class="seccion-boton">
                        <div >
                            <button type="button" id="boton" class="boton">Guardar</button>
                    
                        </div>  
                        <div >
                            <a href="./"> <i class="fas fa-reply"> </i>Volver al Inicio</a> 
                         </div>
                        </section>
                         
                        </form>
                        
                    
    </div>
    </main>

</body>
<script src="./js/altaDeProductoValidator.js"></script>  
    </html>
