<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("./partials/head") %>

<body>
<!-- Header -->


<%- include("./partials/header") %>

      

    <main>
        <article class="mostrarFormulario">
            
       
            <form action="/users/registro" id="form" method="post" enctype="multipart/form-data">
                
                <section class="header-formulario">
          <div class="titulo">Registro de Usuario</div>

          <div class="iconoRegistro"> <i class="far fa-address-card"></i> </div>
             </section>

             <ul class="errores"></ul>

          <section class="formulario">
        

            <div> <label for="nombre"></label> 
                 
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre" class="burbuja" value="<%= locals.oldData ? oldData.nombre :null%>" >
                <% if (locals.errors && locals.errors.nombre){  %> 
              <h3 class="error"> <%=errors.nombre.msg %>  <% }%> </h3>
                </div> 
                <div> <label for="apellido"></label> 
            
                    <input type="text" name="apellido" id= "apellido" placeholder="Ingrese su Apellido" class="burbuja" value="<%= locals.oldData ? oldData.apellido :null%>" >
                    <% if (locals.errors && locals.errors.apellido){  %> 
                        <h3 class="error"> <%=errors.apellido.msg %> </h3>
                        <% } %> 
                    </div>
                <div> <label for="email"></label> 
            
                    <input type="text" name="email" id="email" placeholder="Ingrese su Correo Electrónico" class="burbuja" value="<%= locals.oldData ? oldData.email :null %>">
                    <% if (locals.errors && locals.errors.email){  %> 
                    <h3 class="error"> <%=errors.email.msg %> </h3>
                    <% } %> 
                    </div>
                
                    <h3> Seleccione una imagen de Perfil</h3>
                    <div class="contenedor5">
                 
                      
                        <div class="contenedor3">
                            
                        <p class="botonImagen">Imagen</p>
                         <input type="file" name="userProfileImage" id="userProfileImage"  class="inputFile" >
                         
                        </div>
                    </div>
                 
                    <!-- <div class="fechaNacimiento" >   
                        <h3>Fecha de Nacimiento</h3>
                     <input type="date" name="fechaNac" id="Fecha de Nacimiento" class="burbuja" required>
                        </div>
         -->
         <% if (locals.errors && locals.errors.userProfileImage){  %> 
            <h3 class="error"> <%=errors.userProfileImage.msg %> </h3>
             <% } %>   
             
                   
        
                        <div><label for="Contraseña"></label> 
            
                            <input type="password" name="password"  id="password" placeholder="Ingrese su contraseña" class="burbuja" > 
                            <% if (locals.errors && locals.errors.password){  %> 
                                <h3 class="error"> <%- errors.password.msg %> </h3>
                                <% } %>
                            
                            </div>

                        <div>

                        </section>
                        <section class="seccion-boton">
                            <div  >
                                <button type="submit" class="boton">Registrarse</button>
                        
                            </div>  
                            <div >
                                <a href="./";> <i class="fas fa-reply"> </i>Volver al Inicio</a> 
                             </div>
                            </section>
                            
                            </form>
                          </article>
                            </section>
                        
                         
        </div>
        </main>
        <script src="../js/registrovalidator.js"></script>
    </body>
   
    </html>
